.box {
	position: relative;

	&:has(input:is([type="text"], [type="password"])) {
		width: 100%;
		height: 46px;
	}

	& input {
		color: var(--input-text);
		font-size: 15px;
		font-weight: 400;

		&[type="text"],
		&[type="password"] {
			width: 100%;
			height: 100%;
			padding: 0 15px;
			background-color: var(--input-back);
			border: 1px solid var(--input-line);
			transition:
				box-shadow 0.15s,
				border-color 0.15s;
			border-radius: 10px;

			&:not(.invalid).focus_animation:focus {
				box-shadow: 0 0 7px var(--personal);
				border-color: var(--input-select-line);
				outline: 0;
			}

			&:focus-visible {
				outline: 0;
			}

			&.invalid {
				box-shadow: 0 0 6px red;
			}
		}
	}

	& .eye {
		min-height: 15px;
		height: 70%;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 7px;
		bottom: 15%;
		border-radius: 10px;
		font-size: 115%;
		color: var(--text-thin-2);
		background-color: transparent;
		cursor: pointer;

		&:hover {
			color: black;
			background-color: var(--button-back-hover);
		}
	}
}

.button,
.anchor {
	width: 100%;
	min-height: 46px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 750;
	letter-spacing: -0.05em;
	word-break: break-all;
	border: 1px solid;
	border-radius: 10px;

	&.normal {
		color: var(--button-normal-text);
		border-color: var(--button-normal-line);
		background-color: var(--button-normal-back);

		&:hover {
			border-color: var(--button-normal-line-hover);
			background-color: var(--button-normal-back-hover);
		}
	}

	&.submit {
		color: var(--button-submit-text);
		border-color: var(--personal-dark);

		&:enabled {
			background-color: var(--button-submit-back);

			&:hover {
				background-color: #ffd23f;
			}
		}

		&:disabled {
			color: var(--submit-disabled-text);
			background-color: var(--submit-disabled-back);
			border-color: var(--submit-disabled-line);
			cursor: no-drop;
		}
	}

	&:enabled {
		cursor: pointer;

		&:active {
			transform: scale(0.98);
		}
	}
}
