.menu {
	display: flex;

	& .text {
		height: 3.15em;
		padding: 0 1.05em;
		display: flex;
		align-items: center;
		color: var(--muted);
		font-size: 13px;
		font-weight: 600;
		line-height: 1;
		word-break: keep-all;
		border-radius: var(--radius-2);

		&:hover {
			background-color: var(--card-dark-2);
			color: var(--title-text);
		}
	}

	& .buttons {
		display: flex;

		& a {
			height: 3em;
			padding: 0 1em;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
			font-weight: 700;
			line-height: 1;
			word-break: keep-all;
			border-radius: var(--radius-2);

			&.white {
				color: var(--button-normal-text);
				background-color: var(--button-normal-back);
				border: 1px solid var(--button-normal-line);
			}

			&.yellow {
				color: var(--button-submit-text);
				background-color: var(--button-submit-back);
				border: 1px solid var(--button-submit-line);
			}
		}
	}
}

@media (width >= 876px) {
	.menu {
		height: 100%;
		align-items: center;
		gap: 5px;

		& .buttons {
			gap: 7px;
		}
	}
}

@media (768px <= width < 876px) {
	.menu {
		width: calc(100vw - 14px * 2);
		padding: 8px;
		background-color: var(--card-dark-1);
		flex-direction: column;
		gap: 2px;
		position: absolute;
		top: 54px;
		right: 0;
		border: 1px solid var(--card-dark-line);
		border-radius: var(--radius-2);

		& .buttons {
			width: 100%;
			flex-direction: column;
			gap: 2px;
		}
	}
}

@media (width < 768px) {
	.menu {
		width: calc(100vw - 14px * 2);
		padding: 8px;
		background-color: var(--card-dark-1);
		flex-direction: column;
		gap: 2px;
		position: absolute;
		top: 54px;
		right: 0;
		border: 1px solid var(--card-dark-line);
		border-radius: var(--radius-2);

		& .buttons {
			width: 100%;
			flex-direction: column;
			gap: 2px;
		}
	}
}
