:root {
	--personal: #ffc90e;
	--personal-rgb: 255, 203, 15;
	--personal-bright-1: #ffe18a;
	--personal-bright-1-rgb: 255, 225, 138;
	--personal-bright-2: #fff2c4;
	--personal-bright-2-rgb: 255, 242, 196;
	--personal-bright-3: #fff9e3;
	--personal-bright-3-rgb: 255, 249, 227;
	--personal-dark-1: #c99a00;
	--personal-white: #f0f0f0;
	--personal-black: #0d0c22;
	--personal-line-bright-1: #d3dae6;
	--personal-line-bright-2: #eceae6;
	--personal-hover: #e8e9ee;

	--text-thin-1: #3d3d4e;
	--text-thin-2: #6e6d7a;
	--text-bold-1: #1a1a1a;
	--text-important: #0d0c22;

	--input-text: #1a1a1a;
	--input-back: white;
	--input-line: #e4e4e4;

	--button-text: #4a5568;
	--button-back: #fff;
	--button-line: #d3dae6;

	--button-back-hover: #f8f9fc;

	--button-text-disabled: #a8b0be;
	--button-back-disabled: #edf0f5;

	--button-black-text: #fff;
	--button-black-back: #0d0c22;

	--submit-text: #0d0c22;
	--submit-back: #ffc90e;
	--submit-back-rgb: 255, 201, 14;

	--submit-back-hover: var(--submit-back);

	--submit-disabled-text: #a8b0be;
	--submit-disabled-back: #edf0f5;
	--submit-disabled-line: #e3e7ef;

	--bg-bright-1: #eceae6;
	--bg-bright-2: #f3f2ef;
	--bg-dark-1: #0d0c22;

	--test-line: 1px solid red;

	color-scheme: var(--color-theme);

	&:has(input[name="color-theme"][value="auto"]:checked) {
		--color-theme: light dark;
	}

	&:has(input[name="color-theme"][value="light"]:checked) {
		--color-theme: light;
	}

	&:has(input[name="color-theme"][value="dark"]:checked) {
		--color-theme: dark;
	}
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	margin: 0;
}

body {
	min-height: 100%;
	letter-spacing: -0.03em;
}

a {
	text-decoration: none;
}
