.page {
	/*display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
	/*font-family: var(--font-geist-sans);
    background-color: var(--background);*/
}

.main {
	--page-width: min(87.5vw, 1080px);
	min-height: 100dvh;

	& article:last-of-type {
		margin-bottom: 100px;
	}

	& hr {
		width: var(--page-width);
		border-color: var(--personal-line-bright-1);
		border-width: 0 0 1px;
		margin: 60px auto;
	}
}

& .header {
	min-height: 410px;
	position: relative;
	outline: var(--test-line);

	& .title {
		width: 100%;
		position: absolute;
		top: 85px;

		& h1,
		& p {
			line-height: 1.2;
			letter-spacing: -0.05em;
			text-align: center;
		}

		& h1 {
			color: var(--personal-black);
			font-size: 48.5px;
			font-weight: 900;

			& span {
				position: relative;

				&::after {
					width: 100%;
					height: 20px;
					background-color: rgba(var(--personal-rgb), 0.5);
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: -1;
					content: "";
				}
			}
		}

		& p {
			margin: 0;
			color: var(--text-thin-2);
			font-size: 15px;
			font-weight: thin;
			line-height: 1.8;
		}
	}

	& .make_start {
		width: 100%;
		position: absolute;
		top: 350px;
		left: 0;

		& a {
			width: 15.2em;
			height: 3.35em;
			color: var(--text-important);
			background-color: var(--personal);
			box-shadow: 0 3px 8px rgba(var(--personal-bright-1-rgb), 0.25);
			text-align: center;
			font-size: 17px;
			font-weight: 700;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			margin: auto;
		}
	}
}

.feature {
	width: var(--page-width);
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 120px;

	& section {
		width: 100%;
		min-height: 420px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& img {
			width: 100%;
			max-width: calc(50% - 25px);
			height: 420px;
			outline: var(--test-line);
			border-radius: 15px;
		}

		& .info {
			width: calc(50% - 25px);
			height: 80%;

			& .menu {
				padding: 0.5em 1.15em;
				display: inline-block;
				font-size: 14.5px;
				font-weight: 600;
				line-height: 1;
				color: #8a6c00;
				background-color: #fff6d6;
				border-radius: calc(1em + 0.5em);
				margin-bottom: 25px;
			}

			& h2 {
				color: var(--personal-black);
				margin: 0 0 25px;
				line-height: 1.35;
				letter-spacing: -0.07em;
				font-size: 40px;
				word-break: keep-all;
			}

			& .content {
				color: var(--text-thin-2);
				font-size: 17px;
				font-weight: thin;
				line-height: 1.8;
			}
		}

		&:nth-of-type(even) {
			flex-direction: row-reverse;
		}
	}
}

.footer {
	width: 72.5vw;
	height: 400px;
	margin: auto;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--personal-bright-3);
	position: relative;
	overflow: hidden;
	border: 1px solid var(--personal);

	& .box {
		width: 70%;
		margin: auto;

		& h3 {
			color: var(--personal-black);
			text-align: center;
			font-size: 40px;
			font-weight: 800;
			margin: 0;
			line-height: 1.55;
			letter-spacing: -0.025em;
			word-break: keep-all;
		}

		& a {
			width: 11.5em;
			height: 3.3em;
			color: var(--button-black-text);
			background-color: var(--button-black-back);
			font-size: 17.5px;
			font-weight: 600;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 15px;
			margin: 50px auto 0;
		}
	}

	& .circle {
		position: absolute;
		background-color: var(--personal-bright-1);
		border-radius: 50%;

		&.left {
			width: 225px;
			height: 225px;
			left: -60px;
			bottom: -80px;
		}

		&.right {
			width: 210px;
			height: 210px;
			top: -110px;
			right: -90px;
		}
	}
}

.bg {
	position: absolute;
	z-index: -1;

	&.circle {
		aspect-ratio: 1;
		border-radius: 50%;

		&.big {
			width: 70vw;
		}

		&.small {
			width: 30px;
		}

		&.soft.fill_bg {
			background: radial-gradient(rgba(var(--personal-bright-1-rgb), 0.45) 0%, rgba(var(--personal-bright-1-rgb), 0.3) 40%, rgba(var(--personal-bright-1-rgb), 0) 75%);
		}

		&.hard {
			&.fill_bg {
				background-color: var(--personal);
			}

			&.fill_stroke {
				border: 3px solid var(--personal);
			}
		}

		&.top {
			top: -200%;
			left: calc(100vw / 2 - 70vw / 2);
		}

		&.left {
			top: 350px;
			left: 10vw;
			border-radius: 40%;
			rotate: 17.5deg;
		}

		&.right {
			top: 345px;
			right: 12.5vw;
		}
	}

	&.profile {
		--radius: 15px;
		width: 125px;
		height: 130px;
		background-color: white;
		padding: 15px;
		border-radius: var(--radius);
		box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.1);
		border: 1px solid var(--personal-line-bright-2);

		& .picture {
			width: 100%;
			aspect-ratio: 1 / 0.675;
			background-color: var(--picture-bg);
			border-radius: calc(var(--radius) / 1.5);
			position: relative;

			& .person {
				--width: 52.5%;
				width: var(--width);
				height: 52.5%;
				border-radius: 50% / 70% 70% 0 0;
				background-color: var(--personal);
				position: absolute;
				left: calc(100% / 2 - var(--width) / 2);
				bottom: 0;
			}
		}

		& .line > div {
			height: 8px;
			background-color: #666;
			border-radius: calc(8px / 2);

			&:first-of-type {
				width: var(--line-width-1);
				background-color: var(--bg-bright-1);
				margin-top: 10px;
			}

			&:last-of-type {
				width: var(--line-width-2);
				background-color: var(--bg-bright-2);
				margin-top: 8px;
			}
		}

		&.left {
			--line-width-1: 72.5%;
			--line-width-2: 47.5%;
			--picture-bg: var(--personal-bright-2);
			top: 120px;
			left: 5vw;
			rotate: -10deg;
		}

		&.right {
			--line-width-1: 47.5%;
			--line-width-2: 72.5%;
			--picture-bg: var(--bg-dark-1);
			top: 135px;
			right: 6.25vw;
			rotate: 13deg;
		}
	}
}
